numpy
pandas
scikit-learn
matplotlib
ipykernel
python-dotenv
streamlit
tensorflow
keras
scikit-learn
pandas
numpy
matplotlib
seaborn
opencv-python
Pillow
gradio
torch
torchvision
# catboost
# shutil
dill
langchain
langchain-community
faiss-cpu   
pypdf      
ollama 